<mat-card class="form">

  <h3>Edit your password:</h3>

  <form [formGroup]="form">
    <mat-form-field  appearance="fill" color="warn">
      <mat-label>Login</mat-label>
      <input formControlName="login" matInput>
      <mat-error *ngIf="form.controls['login'].hasError('required')">Login is required</mat-error>
    </mat-form-field>

    <mat-form-field  appearance="fill" color="warn">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput>
      <mat-error *ngIf="form.controls['password'].hasError('required')">Password is required</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" color="warn">
      <mat-label>Web address</mat-label>
      <input formControlName="webAddress" matInput>
      <mat-error *ngIf="form.controls['webAddress'].hasError('required')">Web address is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" color="warn">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>

  </form>

  <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="form.invalid">Edit password</button>

</mat-card>
