<mat-card class="form">

  <form [formGroup]="form">
    <mat-form-field  appearance="fill" color="warn">
      <mat-label>Old password</mat-label>
      <input formControlName="oldPassword" matInput>
      <mat-error *ngIf="form.controls['oldPassword'].hasError('required')">Old password is required</mat-error>
    </mat-form-field>

    <mat-form-field  appearance="fill" color="warn">
      <mat-label>New password</mat-label>
      <input formControlName="password" matInput [errorStateMatcher]="confirmPasswordErrorStateMatcher">
      <mat-error *ngIf="form.controls['password'].hasError('required')">New password is required</mat-error>
      <mat-error *ngIf="form.hasError('notSame')">Passwords are different</mat-error>

    </mat-form-field>


    <mat-form-field appearance="fill" color="warn">
      <mat-label>Confirm password</mat-label>
      <input formControlName="confirmPassword" matInput>
      <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">Passwords must match</mat-error>
    </mat-form-field>

  </form>

  <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="form.invalid">Change password</button>

</mat-card>
