<mat-card>
  <mat-card-title>{{password.webAddress}}</mat-card-title>
  <mat-card-subtitle>Login: {{password.login}}</mat-card-subtitle>
  <mat-card-subtitle>Haslo: {{password.password || "********"}}</mat-card-subtitle>

  <mat-card-actions align="end">
    <button mat-icon-button color="warn" (click)="onTogglePassword()">
      <mat-icon>{{password.password ? "visibility" : "visibility_off "}}</mat-icon>
    </button>

    <div style="flex: 1"></div>

    <button mat-icon-button color="warn" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button mat-icon-button  (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>

  </mat-card-actions>

</mat-card>


