:host {
  width: 100%;
  max-width: 500px;
}

.no-data-info {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #f44336;
}

.actions-wrapper {
  text-align: right;
  margin-bottom: 10px;
}

.passwords-wrapper {
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  padding: 8px;
}
