.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
  width: 400px;
}
.mat-form-field {
  width: 100%;
}

.mat-raised-button{
  width: 100%;
}

.mat-button-toggle-group {
  width: 100%;
  margin-bottom: 10px;
}

.mat-button-toggle {
  width: 100%;
}

.mat-button-toggle-checked {
  background-color: #f44336;
  color: #FFF;
}

.sign-in-button {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0 0 auto;
  cursor: pointer;
  color: #f44336;
}

